<h1>Mybudget#home</h1>
<div class="row">
<div class="col-md-8">
	<center><%= render 'incomes/new_incomes_form' %></center>
	<center><%= render 'expenses/new_expenses_form' %></center>
	
</div>
<div class="col-md-4">
</div>
</div>