<h2>End of Month</h2>

<table>
	<tr>
		<td>Pay</td>
	</tr>
	<tr>
		<td>Balance</td>
	</tr>
	<tr>
		<td>Credit Card Repayments</td>
	</tr>
	<tr>
		<td>Savings</td>
	</tr>
	<tfoot>Excess Cash</tfoot>
</table>