<h1> My Budget </h1>

<body>
<table>
	<thead>
		<th><strong>Balance </strong><i>Pay day before pay </i></th>
		<th> $ </th>
	</thead>
	<tr>
		<td><strong>+ Pay </strong></td>
		<td> $ </td>
	</tr>
	<tr>
		<td><strong>+ One-off Income </strong></td>
		<td> $ </td>
	</tr>
</table>

<br>

<table>
	<thead>
		<th><strong>New Balance </strong></th>
		<th> $ </th>
	</thead>
	<tr>
		<td><strong>- Transfers </strong></td>
		<td> $ </td>
	</tr>
</table>

<br>

<table>
	<thead>
		<th><strong>New Balance </strong></th>
		<th> $ </th>
	</thead>
	<tr>
		<td><strong>- Outgoings </strong></td>
		<td> $ </td>
	</tr>
	<tr>
		<td><strong>- One-off Expenses </strong></td>
		<td> $ </td>
	</tr>
</table>

<br>

<div><strong> Projected Balance Next Pay </strong></div>
<br>

<div><strong> Projected Balance End of the Month </strong></div>
<br>

<div><strong> Projected Balance End of the Year </strong></div>

</body>