<h1> Projections </h1>

<div class="row">
	<%= render "welcome/next_pay_day"%>
</div>
<div class="row">
	<%= render "welcome/end_of_month"%>
</div>
<div class="row">
	<%= render "welcome/end_of_year"%>
</div>