Income

<table class="table">
  <thead>
    <tr>
      <th>Wages</th>
      <th>Other Income</th>
      <th>Total Income</th>
    </tr>
  </thead>

  <tbody>
    <% @income.each do |income| %>
      <tr>
        <td><%= income.wages %></td>
        <td><%= income.other_income %></td>
        <td><%= income.income_total %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_income_path %>