<div class="bordered-form" >

 <h2>Expenses</h2>
 <div> - this will do the same as above. There will be links for each allowing for the calculation of new expenses added on the spot.</div>

 <%= link_to new_mybudget_expense_path(@mybudget, @expense), 
  remote: true, id: "new-item-link", class: "btn btn-sm btn-default round" do %> New
 <%end%>

 <table class="table" >
  <thead>
   <tr>
    <th>Expense Type</th>
    <th>Amount</th>
   </tr>
  </thead>
  <tbody>
   <% @mybudget.expenses.each do |expense| %>
    <tr>
     <div id="expenses"></div>
     <td><%= expense.expense %></td>
     <td><%= expense.amount %></td>
     <td></td>
    </tr>
   <% end %>
  </tbody>
 </table>
 
 <br>
 <div>TOTAL EXPENSES</div>
 <div class="total-output"><%= Expense.sum(:amount) %>
 </div>
</div>