<div class="bordered-form">
 <%= form_for [@mybudget] do |f| %>
  <h1>New Budget</h1>
  <centre>
   <table>
    <tr>
     <div class="new-budget-row">Budget Name
      <div class="field"><%= f.text_field :name %></div>
     </div>
    </tr>
    <tr>
     <div class="new-budget-row">Opening Balance
     <div class="field"><%= f.number_field :open_bal, :step => 0.01 %></div>
     </div>
    </tr>
   </table>


   <div class="actions">
    <%= f.submit %>
   </div>
  </centre>
 <% end %>
</div>