<div class="bordered-form">
  <div class="page-header">
   <h1><%= @mybudget.name %></h1>
   <p>This is an app designed to assist individuals in projecting their own budgets, savings and expenses from week to week. It will be built with Ruby on Rails, customized boostrap and postgreSQL assisted by tutorials demonstyrating an understanding of development processes</p>
  </div>
</div>