<div class="bordered-form">
 <div class="summary-row">
	 <table class="table">
	 	<tbody class="bordered-form-total">
	   <tr>
	    <td class="table-items" id="total-field-name">OPENING BALANCE</td>
		 	 <td class="amount" id="total-field">$<%= @mybudget.open_bal %></td>
		  </tr>
		 </tbody>
	 </table>
 </div>
</div>