<div class="row">
	<div class="col-md-8">
	 <center>
	 	<div class="summary-row">
	   <table>
	  	 <tr>
	  	  <td id="total-field-name">OPENING BALANCE</td>
			   <td class="total-field">$<%= @mybudget.open_bal %></td>
		   </tr>
		  </table>
	  </div>
	 </center>
		<center>
			<div>
				<%= render 'mybudgets/incomes' %>
				<%= render 'mybudgets/expenses' %>
				<%= render 'mybudgets/transfers' %>
		 </div>
		</center>
	</div>
	<div class="col-md-4">
	</div>

	<!-- Modal form -->
		<div class="modal fade" id='new-income-modal-form' role='dialog'></div>
	<!-- Modal form -->
</div>