<div class="modal-dialog reorder-modal-form">
 <div class="bordered-form">
  <div class="modal-content">
   <%= bootstrap_form_for([@mybudget, @expense], remote: true) do |f| %>
     <div class="modal-header">
      <h4 class="modal-title">Edit Expense</h4>
     </div>

     <center>
      <div class="modal-body">
 	     <table  class="modal-form-table">
        <tr>
         <td class="field"><%= f.text_field :expense %></td>
        </tr>
        <tr>
         <td class="field"><%= f.number_field :amount %></td>
        </tr>
       </table>
      </div>
    </center>

    <div class="modal-footer">
     <button type="button" class="btn btn-default" data-dismiss="modal" data-behaviour="form-clear">Cancel</button>
      <%= f.submit class: "btn btn-primary", data: { trigger: 'loading' } %>
    </div>
   <% end %>
  </div>
 </div>
</div>