 <!DOCTYPE html>
  <html>
  <head>
   <title>MyBudget</title>
   <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
   <%= csrf_meta_tags %>
  </head>

<body>
 <div class="application page-body col-sm-6 col-sm-offset-3">
  <div class="mybudget-layout"> 
    <div class="row">
     <nav >
      <ul >
       <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">LOGIN/OUT <span class="caret"></span></a>
        <ul class="dropdown-menu">
         <li><a href="#">List </a></li>
         <li><a href="#">of </a></li>
         <li><a href="#">Users</a></li>
         <li role="separator" class="divider"></li>
         <li><a href="#">Create New User</a></li>
        </ul>
       </li>
      </ul>
      <ul >
       <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MENU <span class="caret"></span></a>
        <ul class="dropdown-menu">
         <li role="separator" class="divider"></li>
        </ul>
       </li>
      </ul>
   </nav>
   </div>
   
   <%= yield %>
  </div>
</div>
  </body>
</html>

